.App {
  text-align: center;
}


.App-login {
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
  font-size: 20px;
  border-radius: 8px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.App-login:hover {
  background-color: black;
  color: white;
}

.App-create-profile {
  font-weight: bold;
  background-color: #fcd34d;
  color: black;
  border: 2px solid yellow;
  font-size: 20px;
  border-radius: 8px;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
}

.App-create-profile:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}